.cart {
  position: fixed;
  top: 16px;
  right: 12px;
  transition: 0.4s;
  padding: 12px 18px;
  background-color: #eae7c4;
  border: double #2e4372 10px;
}
.cart:hover {
  background-color: #2e4372;
  border: double #eae7c4 10px;
}
.cart span {
  position: fixed;
  top: 26px;
  right: 22px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
}