.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-detail div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: #2e4372;
  border: double #eae7c4 12px;
}
.item-detail h1 {
    color: #eae7c4;
}
.item-detail img {
    width: 260px;
}
.item-detail p {
    color: #eae7c4;
}
.item-detail a {
  transition: 0.2s;
  color: #2e4372;
  font-size: 18px;
  text-decoration: none;
  padding: 14px;
  background-color: #eae7c4;
  border: double #2e4372 12px;
  margin-top: 40px;
}
.item-detail a:hover {
  transform: scale(1.1);
  color: #eae7c4;
  background-color: #2e4372;
  border: double #eae7c4 12px;
}