@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Courier Prime';
  background-color: #eae7c4;
  padding-top: 154px;
}

h1, h2, h3 {
  transition: 0.2s;
  text-align: center;
  color: #2e4372;
  font-size: 34px;
  margin: 10px;
  margin-bottom: 32px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 30px;
}